#include "{{prefix}}_interface.h"
#include "mpi.h"
#include <stdio.h>
#include <time.h>

{% for function in functions -%}

  void {{prefix}}_{{function.name}}_c(
      // inputs
      {% for input in function.inputs -%}
        {{input.type}} {{input.name}}{{ ", " if not loop.last or function.inouts|length > 0 else "" }}
      {%- endfor %}
      // inputs-outputs
      {% for inout in function.inouts -%}
        {{inout.type}} {{inout.name}}{{ ", " if not loop.last or function.outputs|length > 0 else "" }}
      {%- endfor %}
      // outputs
      {% for output in function.outputs -%}
        {{output.type}} {{output.name}}{{ ", " if not loop.last else "" }}
      {%- endfor %}
  ) {
    {%- for init_code in function.arguments_init -%}
        {{init_code}}
    {%- endfor -%}
    {{prefix}}_{{function.name}}_py(
      {%- for arg in function.arguments -%}
          {{arg.name}}{{ ", " if not loop.last else "" }}
      {%- endfor -%}
    );
  }

{% endfor %}

{% for validation in validations -%}

  void v_{{prefix}}_{{validation.candidate}}_c(
      // inputs-outputs
      {% for inout in validation.inouts -%}
        {{inout.type}} f90_{{inout.name}}, {{inout.type}} py_{{inout.name}}, int {{inout.name}}_dims,
        {%- for n in range(inout.dims) -%}
          int {{inout.name}}_shape_{{n}}{{ ", " if not loop.last or validation.outputs|length > 0 else "" }}
        {%- endfor -%}
      {%- endfor %}
      // outputs
      {% for output in validation.outputs -%}
        {{output.type}} f90_{{output.name}}, {{output.type}} py_{{output.name}}, int {{output.name}}_dims,
        {%- for n in range(output.dims) -%}
          int {{output.name}}_shape_{{n}}{{ ", " if not loop.last else "" }}
        {%- endfor -%}
      {%- endfor %}
  ) {
    {% for inout in validation.inouts -%}
    FloatArray {{inout.name}}_wrapped;
    {{inout.name}}_wrapped.fortran = f90_{{inout.name}};
    {{inout.name}}_wrapped.python = py_{{inout.name}};
    {{inout.name}}_wrapped.dims = {{inout.name}}_dims;
    {% for n in range(inout.dims) -%}
      {{inout.name}}_wrapped.shape[{{n}}] = {{inout.name}}_shape_{{n}};
    {%- endfor %}
    {%- endfor %}

    {% for output in validation.outputs -%}
    FloatArray {{output.name}}_wrapped;
    {{output.name}}_wrapped.fortran = f90_{{output.name}};
    {{output.name}}_wrapped.python = py_{{output.name}};
    {{output.name}}_wrapped.dims = {{output.name}}_dims;
    {% for n in range(output.dims) -%}
      {{output.name}}_wrapped.shape[{{n}}] = {{output.name}}_shape_{{n}};
    {% endfor %}
    {%- endfor %}

    v_{{prefix}}_{{validation.candidate}}_py(
      {% for inout in validation.inouts -%}
        {{inout.name}}_wrapped{{ ", " if not loop.last or validation.outputs|length > 0 else "" }}
      {%- endfor %}
      // outputs
      {% for output in validation.outputs -%}
        {{output.name}}_wrapped{{ ", " if not loop.last else "" }}
      {%- endfor %}
    );
  }

{% endfor %}
